@model HoliDayRental.Models.Membre.MembreEdit

@{
    ViewData["Title"] = "Edit";
}

<div style="margin-left:20%">

    <h2>Bonjour @Model.Nom @Model.Prenom </h2>
    <p>Ici, vous pouvez modifier vos données en toute sécurité</p>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Telephone" class="control-label"></label>
                    <input asp-for="Telephone" class="form-control" />
                    <span asp-validation-for="Telephone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <select name="idPays">
                        @foreach (Pays item in Model.Payses)
                        {
                            <option value="@item.idPays">@item.Libelle</option>
                        }
                    </select>
                    <span asp-validation-for="idPays" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Login" class="control-label"></label>
                    <input asp-for="Login" class="form-control" />
                    <span asp-validation-for="Login" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>


                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="isValide" /> @Html.DisplayNameFor(model => model.isValide)
                    </label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>

@*@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@
