@model HoliDayRental.Models.BienEdite

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<div style="margin-left:20%">
    <h4>BienEdite</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="titre" class="control-label"></label>
                    <input asp-for="titre" class="form-control" />
                    <span asp-validation-for="titre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Photo" class="control-label"></label>
                    <img src="~/images/assets/@Html.DisplayFor(model => model.Photo)" style="width:200px" />
                    @*<input asp-for="Photo" class="form-control" />*@
                    <input type="text" value="@Html.DisplayFor(model => model.Photo)" id="Photo" name="Photo">
                    @*<input type="button" onclick="window.location.href='http://webpage.com/images/'+document.getElementById('Photo').value +'.jpg'" value="GO">*@
                    <span asp-validation-for="Photo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DescCourte" class="control-label"></label>
                    <input asp-for="DescCourte" class="form-control" />
                    <span asp-validation-for="DescCourte" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DescLong" class="control-label"></label>
                    <textarea asp-for="DescLong" class="form-control"></textarea>
                    <span asp-validation-for="DescLong" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NombrePerson" class="control-label"></label>
                    <input asp-for="NombrePerson" class="form-control" />
                    <span asp-validation-for="NombrePerson" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <select name="Pays">
                        @foreach (Pays item in Model.PaysPossible)
                        {
                            <option value="@item.idPays">@item.Libelle</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Ville" class="control-label"></label>
                    <input asp-for="Ville" class="form-control" />
                    <span asp-validation-for="Ville" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Rue" class="control-label"></label>
                    <input asp-for="Rue" class="form-control" />
                    <span asp-validation-for="Rue" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Numero" class="control-label"></label>
                    <input asp-for="Numero" class="form-control" />
                    <span asp-validation-for="Numero" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CodePostal" class="control-label"></label>
                    <input asp-for="CodePostal" class="form-control" />
                    <span asp-validation-for="CodePostal" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="AssuranceObligatoire" /> @Html.DisplayNameFor(model => model.AssuranceObligatoire)
                    </label>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="isEnabled" /> @Html.DisplayNameFor(model => model.isEnabled)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="Latitude" class="control-label"></label>
                    <input asp-for="Latitude" class="form-control" placeholder="12.3456" />
                    <span asp-validation-for="Latitude" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Longitude" class="control-label"></label>
                    <input asp-for="Longitude" class="form-control" placeholder="12.3456" />
                    <span asp-validation-for="Longitude" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DisabledDate" class="control-label"></label>
                    <input type="date" id="DisabledDate" name="DisabledDate" />
                    <span asp-validation-for="DisabledDate" class="text-danger"></span>
                </div>

                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="isValide" /> @Html.DisplayNameFor(model => model.isValide)
                    </label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@
